{{#extend "layout"}}

{{#content "header" append="prepend"}}
<link rel="stylesheet" href="/css/students.css">
<style>
    .button {
        display: inline-flex;
        height: 40px;
        padding: 0;
        background: #009578;
        border: none;
        outline: none;
        border-radius: 5px;
        overflow: hidden;
        font-family: 'Quicksand', sans-serif;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        margin-top: 5px;
    }

    .button:hover {
        background: #008168;
    }

    .button:active {
        background: #006e58;
    }

    .button-text,
    .button-icon {
        display: inline-flex;
        align-items: center;
        padding: 0 20px;
        color: #fff;
        height: 100%;
    }

    .button-text {
        font-size: 16px;
    }

    .button-icon {
        font-size: 1.5em;
        background: rgba(0, 0, 0, 0.08);
    }
</style>

{{/content}}



{{#content "main" mode="prepend"}}
<div class="main-header">
    <div class="mobile-toggle" id="mobile-toggle">
        <i class="bx bx-menu-alt-right"></i>
    </div>
    <div class="main-title">
        Trainee List
    </div>
</div>

<div class="col-12" style="margin-top: 15px;">
    <!--  TABLE -->
    <div class="box">
        <div class="box-header">
        </div>
        <div>
            <a href="/trainee/export">
                <button type="button" class="button">
                    <span class="button-text">Export Trainee's List</span>
                    <span class="button-icon">
                        <ion-icon name="add-circle-outline"></ion-icon>
                    </span>
                </button>
            </a>
        </div>
        <form action="/trainee/search" method="GET">
            <div class="form-group">
                <div class="form-line">
                    <input type="text" name="search" class="form-control" placeholder="Search By Name...">
                </div>
            </div>

        </form>

        <div class="box-body overflow-scroll">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Trainee Name</th>
                        <th>BoD</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Avatar</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each trainees}}
                    <tr>
                        <td>{{id}}</td>
                        <td>
                            <div class="name-owner">
                                <span>{{name}}</span>
                            </div>
                        </td>
                        <td>17/11/2000</td>
                        <td>
                            <span class="slot name-shipped">
                                {{email}}
                            </span>
                        </td>
                        <td>
                            <div class="teach-status teach-paid">
                                <div class="dot"></div>
                                <span>{{phone}}</span>
                            </div>
                        </td>
                        <td>{{address}}</td>
                        <td>
                            <div class="teach-status teach-paid">
                                <img width="150px" src="/uploads/trainees/{{avatar}}" alt="">
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="actions">
                                <a href="/trainee/detail?id={{id}}">
                                    <i class='las la-eye'></i>
                                </a>
                                <a href="/trainee/update?id={{id}}">
                                    <i class='bx bxs-edit'></i>
                                </a>
                                <a href="/trainee/delete?id={{id}}">
                                    <i class='bx bxs-trash'></i>
                                </a>

                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <!-- END  TABLE -->
</div>
{{/content}}

{{/extend}}