{{#extend "layout"}}

{{#content "main" mode="append"}}

<div class="col-12" style="margin-top: 15px;">
    <!-- ORDERS TABLE -->
    <div class="box">
        <div class="box-header">
            Subject List
        </div>
        <div class="box-body overflow-scroll">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Subject Name</th>
                        <th>Subject Code</th>
                        <th>Subject Description</th>
                        <th>Subject Credit</th>
                        <th>Subject Slot</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each subjects}}

                    <tr>
                        <td>{{id}}</td>
                        <td>
                            <div class="name-owner">
                                <span> {{ sub_name}}</span>
                            </div>
                        </td>
                          <td>
                            <span class="slot name-shipped">
                                {{sub_code}}
                            </span>
                        </td>
                        <td>
                            <span class="slot name-shipped">
                                {{sub_description}}
                            </span>
                        </td>
                        <td>
                            <span class="slot name-shipped">
                                {{credit}}
                            </span>
                        </td>
                          <td>
                            <span class="slot name-shipped">
                                {{slot}}
                            </span>
                        </td>
                        <td class="text-right">
                            <div class="actions">
                                <a href="/subject/update?id={{id}}">
                                    <i class='bx bxs-edit'></i>
                                </a>
                                <a href="/subject/delete?id={{id}}">
                                    <i class='bx bxs-trash'></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <!-- END ORDERS TABLE -->



    {{/content}}

    {{/extend}}
