<!doctype html>
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <link rel="shortcut icon" href="https://ap.greenwich.edu.vn/favicon.ico" type="image/x-icon">
    <title>Greenwich Of Unversity</title>

    <!-- Google FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/user/style.css">
    <link rel="stylesheet" href="/css/user/unity.css">
    <link rel="stylesheet" href="/css/user/responsive.css">
    <link rel="stylesheet" href="/css/user/contact.css">
    <link rel="stylesheet" href="/css/user/default.css">
    <link rel="stylesheet" href="/css/user/table.css">
    <!-- Slick CSs -->
    <link rel="stylesheet" href="/slick-1.8.1/slick/slick-theme.css">
    <link rel="stylesheet" href="/slick-1.8.1/slick/slick.css">
</head>

<body>
    <!-- header -->
    <header>
        <div class="header-top-info">
            <div class="row container">
                <div>
                    <p class="text">Have any question</p>
                    <span><i class="fas fa-phone"></i>123-456-789</span>
                    <span><i class="fas fa-envelope"></i>tung@gmail.com</span>
                </div>
            </div>
        </div>
        <nav class="navbar">
            <div class="row container">
                <a href="index.html" class="navbar-brand">
                    <span>Greenwich Of Unversity</span>
                </a>
                <button type="button" class="navbar-show-btn">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <div class="navbar-collapse">
                <button type="button" class="navbar-hide-btn">
                    <i class="fas fa-times"></i>
                </button>
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="index.html">Home</a></li>
                    <li class="nav-item"><a href="#">About</a></li>
                    <li class="nav-item">
                        <a href="#">Course</a>
                        <ul class="sub-menu">
                            <li class="nav-item"><a href="course.html">All Course</a></li>
                            <li class="nav-item"><a href="#">Join Course</a></li>
                            <li class="nav-item"><a href="#">My Course</a>
                                <ul class="sub-menu-second">
                                    <li class="nav-item"><a href="#">PRO101 - GCH0802 - LongDNT</a></li>
                                    <li class="nav-item"><a href="#">PRO101 - GCH0802 - LongDNT</a></li>
                                    <li class="nav-item"><a href="#">PRO101 - GCH0802 - LongDNT</a></li>
                                    <li class="nav-item"><a href="#">PRO101 - GCH0802 - LongDNT</a></li>
                                    <li class="nav-item"><a href="#">PRO101 - GCH0802 - LongDNT</a></li>
                                    <li class="nav-item"><a href="#">PRO101 - GCH0802 - LongDNT</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="#">Event</a></li>
                    <li class="nav-item"><a href="teacher.html">Teacher</a></li>
                    <li class="nav-item"><a href="contact.html">Contact</a></li>
                </ul>
            </div>

            <div class="right-icon ">
                <ul>
                    <li><a href="#" id="search"><i class="fa fa-search"></i></a></li>
                    <li>
                        <a href="#">
                            <img src="img/user.jpg" alt="" style="height: 40px; width: 40px; border-radius: 50%; ">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="hero-content">
            <div class="container">
                <div class="hero-slider">
                    <!-- item -->
                    <div class="hero-slider-item">
                        <h1 class="hero-title">Course</h1>
                        <div class="line"></div>
                    </div>
                    <!-- end items -->
                </div>
            </div>
        </div>
    </header>

    <div class="search-box">
        <div class="serach-form">
            <div class="closebtn">
                <span></span>
                <span></span>
            </div>
            <form action="#">
                <input type="text" placeholder="Search by keyword">
                <button><i class="fa fa-search" id="button-search"></i></button>
            </form>
        </div>
        <!-- serach form -->
    </div>
    <!-- end header  -->

    <!-- course -->
    <section class="course">
        {{!-- <table class="table-container">
            <tr>
                <th>Course</th>
                <th>Topic</th>
                <th>Trainer</th>
            </tr>
            {{#each courses}}
            <tr>
                <td><a href="/courses/detail?id={{course.id}}">{{course.course_name}}</a></td>
                <td><a href="/topics/detail?id={{subject.id}}">{{subject.sub_name}}</a></td>
                <td>
                    <a href="/trainers/detail?id={{trainer.id}}">{{trainer.name}}
                    </a>
                </td>
            </tr>
            {{/each}}
        </table> --}}
        {{#each courses}}
        <div class="box">
                <img src="/img/edu-survey-landing-image.jpg" alt="">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <h3></h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque ullam omnis odit accusamus doloremque?
                    Cum aliquid unde nulla. Vitae, adipisci?</p>
                <a href="#" class="btn-course">View</a>
                <div class="icons">
                    <p> <i class="far fa-clock"></i> {{subject.slot}} </p>
                    <p> <i class="far fa-calendar"></i> 25/04/2020 </p>
                    <p> <i class="fas fa-book"></i> {{trainer.name}} </p>
                </div>
            </div>
        {{/each}}
    </section>
    <!--  -->

    <!-- footer -->
    <footer>
        <div class="row container">
            <div>
                <img src="img/RGB_Logo DH Greenwich (VN)1.jpg" alt="">
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati eos id atque in. Ex,
                    quaerat?
                </p>
                <ul class="footer-social-links">
                    <li class="flex">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="flex">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="flex">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="flex">
                        <a href="#"><i class="fab fa-google"></i></a>
                    </li>
                </ul>
            </div>

            <div>
                <h3 class="lg-text">Information</h3>
                <div class="footer-links">
                    <a href="#">Registration</a>
                    <a href="#">Popular Courses</a>
                    <a href="#">Academic Schedule</a>
                    <a href="#">Extra Facilities</a>
                    <a href="#">Events</a>
                </div>
            </div>

            <div>
                <h3 class="lg-text">Team</h3>
                <div class="footer-links">
                    <a href="#">Nguyen Thi Hoa An</a>
                    <a href="#">Le Khoi Nguyen</a>
                    <a href="#">Nguyen Trung Hieu</a>
                    <a href="#">Hoang Van Tung</a>
                </div>
            </div>

            <div>
                <h3 class="lg-text">Have a Question?</h3>
                <div class="footer-contact-info">
                    <div>
                        <span><i class="fas fa-map-marker-alt"></i></span>
                        <span>Ha NOi Ha nOi</span>
                    </div>
                    <div>
                        <span><i class="fas fa-phone"></i></span>
                        <span>1240-133-3422</span>
                    </div>
                    <div>
                        <span><i class="fas fa-paper-plane"></i></span>
                        <span>tung@gmail.com</span>
                    </div>
                </div>
            </div>
        </div>

        <p class="footer-text">Copytight &copy; 2021. Design by <span>Front-End Hoang Tung</span></p>
    </footer>
    <!-- end -->
    <!-- jquery cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Slick Js -->
    <script src="./slick-1.8.1/slick/slick.js"></script>
    <!-- cutom js -->
    <script src="js/main.js"></script>
</body>

</html>
