{{#extend "layout"}}

{{#content "header" mode="prepend"}}

    <link rel="stylesheet" href="/css/students.css">

{{/content}}


{{#content "main" mode="prepend"}}
     <div class="main-header">
            <div class="mobile-toggle" id="mobile-toggle">
             <i class="bx bx-menu-alt-right"></i>
            </div>
            <div class="main-title">
                Edit Teacher
            </div>
        </div>

        <div class="col-12" style="margin-top: 15px;">
            <!--  TABLE -->
            <div class="box">
                <div class="box-header">
                    Basic Information
                </div>
                <div class="box-body overflow-scroll">
                    <div class="row">
						<div class="col-sm-12">
								<div class="card-body">
									<form method="POST" action="/staff/update" enctype="multipart/form-data">
										<div class="row">
											<div class="col-12 col-sm-6">
												<div class="form-group">
													<div class="form-line">
                                                    <label>Name</label>
													<input type="text" name="name" value="{{staff.name}}" class="form-control">
                                                    </div>
												</div>
											</div>
											<div class="col-12 col-sm-6">
												<div class="form-group">
                                                    <div class="form-line">
                                                        <label>Teacher Id</label>
                                                        <input type="text" name="id" value="{{staff.id}}"class="form-control">
                                                    </div>
												</div>
											</div>
											<div class="col-12 col-sm-6">
												<div class="form-group">
                                                    <div class="form-line">
                                                        <label>Gender</label>
                                                        <select class="form-control">
                                                            <option>Select Gender</option>
                                                            <option>Female</option>
                                                            <option>Male</option>
                                                            <option>Others</option>
                                                          </select>
                                                    </div>
												</div>
											</div>
                                            <div class="col-12 col-sm-6">
												<div class="form-group">
                                                    <div class="form-line">
                                                        <label>Major</label>
                                                        <input type="text" class="form-control">
                                                    </div>
												</div>
											</div>
											<div class="col-12 col-sm-6">
												<div class="form-group">
                                                    <div class="form-line">
                                                        <label>Joining Date</label>
                                                        <div>
                                                            <input type="date" class="form-control">
                                                        </div>
                                                    </div>
												</div>
											</div>
											<div class="col-12 col-sm-6">
												<div class="form-group">
                                                    <div class="form-line">
                                                        <label>Mobile Number</label>
                                                        <input type="text" name="phone" value="{{staff.phone}}" class="form-control">
                                                    </div>
												</div>
											</div>
                                            <div class="col-12 col-sm-6">
												<div class="form-group">
                                                    <div class="form-line">
                                                        <label>Password</label>
                                                        <textarea class="form-control" name="password" >{{staff.password}}</textarea>
                                                    </div>
												</div>
											</div>
                                            <div class="col-12 col-sm-6">
												<div class="form-group">
													<div class="form-line">
                                                    <label>Email</label>
													<input type="email" name="email" value="{{staff.email}}" class="form-control">
                                                    </div>
												</div>
											</div>
											<div class="col-12 col-sm-6">
												<div class="form-group">
													<div class="form-line">
                                                        <label>Teacher Image</label>
													<input type="file" name="avatar" class="form-control">
                                                    </div>
                                                    <div class="form-line">
                                                        <img src="/uploads/staffs/{{staff.avatar}}" width="200px" alt="">
                                                         <input type="hidden" name="old_image" value="{{staff.avatar}}">
                                                    </div>
												</div>
											</div>

											<div class="col-12">
												<button type="submit" class="btn btn-primary">Submit</button>
											</div>
										</div>
									</form>
								</div>
						</div>
					</div>
				</div>
			</div>

            <div class="box-second" style="margin-top: 15px;">
                <div class="box-header">
                    Account Information
                </div>
                <div class="box-body overflow-scroll">
                    <div class="row clearfix">
                        <div class="col-6 col-md-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" placeholder="Phone">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" placeholder="Password">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" placeholder="Confirm Password">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary ">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-third" style="margin-top: 15px;">
                <div class="box-header">
                    Teacher Social Media Info
                </div>
                <div class="box-body overflow-scroll">
                    <div class="row clearfix">
                        <div class="col-6 col-md-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" placeholder="Facebook">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" placeholder="Instagram">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" placeholder="Youtube">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" placeholder="Website ">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary ">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END  TABLE -->
        </div>
{{/content}}

{{/extend}}
